@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: "#003464";
  --color-secondary: "#ED5C5B";
  --color-secondary-content: "#FFEBEB";
}
