clientDetails/*.json
__pycache__/
.env
Cosmo/logs/*.txt
Cosmo/logs/*.log
FutureYou/ATB
FutureYou/Overdue
FutureYou/*.csv
FutureYou/*.json
.DS_Store/
H2coco/*.xlsx
H2coco/*.json
H2coco/logs
H2coco/PO_Payment_Status
helpers/__pycache__/
FutureYou/__pycache__/
dashboardWebsite/frontend/node_modules
node_modules/
dashboardWebsite/backend/service-account.json
FutureYou/forecastingWebsite/backend/service-account.json
dashboardWebsite/.DS_Store
dashboardWebsite/backend/.DS_Store
dashboardWebsite/backend/uploads/*.xlsx
